@mixin dispstyle($disp) {
  display: $disp;
}

@mixin posistyle($posi) {
  position: $posi;
}

@mixin defpad($pad:padding, $padpx:10px) {
  @if($pad==left) {
    padding-left: $padpx;
  }

  @else if($pad==top) {
    padding-top: $padpx;
  }

  @else if($pad==bottom) {
    padding-bottom: $padpx;
  }

  @else if($pad==right) {
    padding-right: $padpx;
  }

  @else {
    padding: $padpx;
  }
}

@mixin defmar($mar:margin, $marpx:10px) {
  @if($mar==left) {
    margin-left: $marpx;
  }

  @else if($mar==top) {
    margin-top: $marpx;
  }

  @else if($mar==bottom) {
    margin-bottom: $marpx;
  }

  @else if($mar==right) {
    margin-right: $marpx;
  }

  @else {
    margin: $marpx;
  }
}

@mixin fontColor($color) {
  color: $color;
}

$maincolor:#00b38a;

.getterpx {
  width: 1000px;
}

.moblieBox {
  @include dispstyle(none);
}

#main {
  #top {
    height: 60px;
    width: 100%;

    .container {
      @extend .getterpx;

      .download {
        font-size: 14px;
        color: #999;
        cursor: pointer;
        @include defmar(top, 15px);
      }

      .logoimg {
        width: 222px;
        height: 34px;
        @include defmar(margin, 15px 0);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .qrcode_app {
      img {
        width: 128px;
        height: 128px;
      }

      @include dispstyle(none);
      z-index: 999;
      padding: 11px;
      background-color: white;
      @include posistyle(absolute);
      top: 40px;
      right: 2px;
      box-shadow: 0 0 5px #555;
    }
  }
}

#center {
  background: $maincolor url('../images/into.png') no-repeat bottom;
  background-size: auto 112px;
  min-height: 694px;
  width: 100%;
  overflow: hidden;

  .container {
    @extend .getterpx;

    .logoimg {
      @include defmar(margin, 28px 0 8px 0);
      height: 34px;
    }

    .findJob {
      width: 610px;
      @include defmar(right, 20px);
      @include posistyle(relative);

      .searchBtn {
        @include dispstyle(flex);
        padding: 5px 5px 5px 0;
        @include posistyle(relative);
        align-items: center;
        background: white;

        input {
          flex: 1;
          height: 20px;
          border: 0;
          padding-left: 49px;
          font-size: 14px;
          outline: medium;
        }

        i {
          color: gray;
          @include posistyle(absolute);
          @include defmar(margin, 0 11px 0 22px);
        }

        .searchPos {
          font-size: 14px;
          color: white;
          background-color: $maincolor;
          border: 0;
          border-radius: 2px;
          outline: none;
          padding: 7px 25px;
        }


      }

      .positions {
        @include dispstyle(none);
        width: 100%;
        @include posistyle(absolute);
        background-color: white;
        z-index: 1;
        opacity: 0.95;
        border-radius: 0 0 4px 4px;
        max-height: 435px;
        @include defpad(top, 11px);

        li {
          color: #333;
          font-size: 14px;
          padding: 12px 49px;
          letter-spacing: 0;
        }
      }

      .posType {
        @include dispstyle(flex);
        flex-direction: row;
        margin-top: 10px;

        ul {
          @include dispstyle(flex);
          flex-direction: column;
          width: 112px;
          background-color: #00906f;
          border-radius: 4px;
          padding: 5px;
          box-sizing: border-box;
          height: 414px;
          @include defmar(right, 10px);

          li {
            font-size: 16px;
            color: white;
            text-align: center;
            width: 102px;
            height: 67px;
            line-height: 67px;
          }

          .active {
            background-color: white;
            opacity: 0.5;
            color: #007d61;
            border-radius: 4px;
          }
        }

        .company {
          @include dispstyle(flex);
          flex-direction: row;
          height: 424px;
          flex-wrap: wrap;
          justify-content: space-between;

          img {
            opacity: 0.5;
            border-radius: 4px;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .loginBox {
      width: 360px;
      background-color: white;
      padding: 57px 50px 35px 50px;
      box-sizing: border-box;
      border-radius: 4px;
      height: 464px;
      animation: doudong 2s ease-in-out;

      @keyframes doudong {

        0% {
          transform: translate(0px, 0px) rotate(0deg);
        }

        2% {
          transform: translate(-1px, 1.5px) rotate(1.5deg);
        }

        4% {
          transform: translate(1.3px, 0px) rotate(-0.5deg);
        }

        6% {
          transform: translate(1.4px, 1.4px) rotate(-2deg);
        }

        8% {
          transform: translate(-1.3px, -1px) rotate(-1.5deg);
        }

        10% {
          transform: translate(1.4px, 0px) rotate(-2deg);
        }

        12% {
          transform: translate(-1.3px, -1px) rotate(-2deg);
        }

        14% {
          transform: translate(1.5px, 1.3px) rotate(1.5deg);
        }

        16% {
          transform: translate(1.5px, -1.5px) rotate(-1.5deg);
        }

        18% {
          transform: translate(1.3px, -1.3px) rotate(-2deg);
        }

        20% {
          transform: translate(1px, 1px) rotate(-0.5deg);
        }

        22% {
          transform: translate(1.3px, 1.5px) rotate(-2deg);
        }

        24% {
          transform: translate(-1.4px, -1px) rotate(2deg);
        }

        26% {
          transform: translate(1.3px, -1.3px) rotate(0.5deg);
        }

        28% {
          transform: translate(1.6px, -1.6px) rotate(-1.5deg);
        }

        30% {
          transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
        }

        32% {
          transform: translate(-1px, 0px) rotate(2deg);
        }

        34% {
          transform: translate(1.3px, 1.3px) rotate(-0.5deg);
        }

        36% {
          transform: translate(1.3px, 1.6px) rotate(1.5deg);
        }

        38% {
          transform: translate(1.3px, -1.6px) rotate(1.5deg);
        }

        40% {
          transform: translate(-1.4px, -1px) rotate(-0.5deg);
        }

        42% {
          transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
        }

        44% {
          transform: translate(-1.6px, 1.4px) rotate(0.5deg);
        }

        46% {
          transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
        }

        48% {
          transform: translate(1px, 1.6px) rotate(1.5deg);
        }

        50% {
          transform: translate(1.6px, 1.6px) rotate(1.5deg);
        }

        52% {
          transform: translate(-1.4px, 1.6px) rotate(0.5deg);
        }

        54% {
          transform: translate(1.6px, -1px) rotate(-2deg);
        }

        56% {
          transform: translate(1.3px, -1.6px) rotate(-2deg);
        }

        58% {
          transform: translate(-1.3px, -1.6px) rotate(0.5deg);
        }

        60% {
          transform: translate(1.3px, 1.6px) rotate(-0.5deg);
        }

        62% {
          transform: translate(0px, 0px) rotate(-1.5deg);
        }

        64% {
          transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }

        66% {
          transform: translate(1.6px, -1.6px) rotate(0.5deg);
        }

        68% {
          transform: translate(0px, -1.6px) rotate(-2deg);
        }

        70% {
          transform: translate(-1.6px, 1px) rotate(1.5deg);
        }

        72% {
          transform: translate(-1.6px, 1.6px) rotate(2deg);
        }

        74% {
          transform: translate(1.3px, -1.6px) rotate(-0.5deg);
        }

        76% {
          transform: translate(1.4px, 1px) rotate(-0.5deg);
        }

        78% {
          transform: translate(-1px, 1.4px) rotate(2deg);
        }

        80% {
          transform: translate(1.4px, 1.6px) rotate(2deg);
        }

        82% {
          transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
        }

        84% {
          transform: translate(-1.4px, 1.4px) rotate(-2deg);
        }

        86% {
          transform: translate(1px, 1.4px) rotate(-2deg);
        }

        88% {
          transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
        }

        90% {
          transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }

        92% {
          transform: translate(-1.4px, 1.6px) rotate(2deg);
        }

        94% {
          transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }

        96% {
          transform: translate(-1.4px, 1.3px) rotate(-2deg);
        }

        98% {
          transform: translate(1.3px, 1px) rotate(-0.5deg);
        }
      }

      .title {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        @include posistyle(relative);
        @include defmar(bottom, 47px);

        .green {
          color: $maincolor;
        }

        &:after {
          content: '';
          width: 24px;
          height: 3px;
          opacity: 0.3;
          background-color: #333;
          @include dispstyle(block);
          @include posistyle(absolute);
          left: 45%;
          bottom: -13px;
        }

      }

      #phoneForm {
        .phoneNum {
          @include dispstyle(flex);
          border-bottom: 1px solid #e6e6e6;
          margin-bottom: 34px;

          .startNum {
            height: 38px;
            line-height: 38px;
          }

          input {
            flex: 1;
            height: 38px;
            font-size: 16px;
            box-sizing: border-box;
            color: #333;
            border: none;
            outline: none;
          }
        }

        .phoneCode {
          @include dispstyle(flex);
          border-bottom: 1px solid #e6e6e6;
          margin-bottom: 34px;

          input {
            flex: 1;
            height: 38px;
            font-size: 16px;
            box-sizing: border-box;
            color: #333;
            border: none;
            outline: none;
          }

          .getCode {
            color: $maincolor;
            font-size: 13px;
            text-align: center;
            @include dispstyle(inline-block);
            height: 38px;
            line-height: 38px;
          }
        }

        .nowRegister {
          width: 100%;
          height: 48px;
          background-color: $maincolor;
          color: white;
          line-height: 48px;
          text-align: center;
          font-size: 16px;
          border-radius: 3px;
          outline: none;
          border: none;
          @include defmar(bottom, 16px);
          cursor: pointer;
        }

        .explain {
          font-size: 13px;
          color: #999;
          text-align: center;

          a {
            color: $maincolor;
          }
        }
      }

      .loginBtn {
        width: 100%;
        text-align: center;
        @include defmar(top, 40px);

        a {
          color: $maincolor;
          text-decoration: underline;
          font-size: 13px;

        }
      }
    }
  }
}

.footer {

  .container {
    @extend .getterpx;

    .footerTop {
      height: 122px;
      overflow: hidden;

      ul {
        @include defmar(top, 40px);

        li {
          float: left;
          @include defmar(right, 56px);

          img {
            width: 43px;
            height: 43px;
          }

          .text {
            float: right;
            @include defmar(left, 15px);

            p {
              &:first-of-type {
                font-size: 18px;
                color: #333;
                height: 20px;
                line-height: 20px;
              }

              &:last-of-type {
                font-size: 12px;
                color: #666;
                height: 32px;
                line-height: 32px;
              }
            }
          }
        }
      }
    }
  }

  .footerBot {
    border-top: 1px solid gray;
    width: 100%;
    padding-bottom: 30px;
    @include dispstyle(flex);
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    img {
      @include defmar(top, 20px);
      width: 173px;
      height: 17px;
    }

    p {
      font-size: 12px;
      color: #999;
      width: 100%;

      .footerLine {
        display: inline-block;
        width: 1px;
        height: 8px;
        @include defmar(margin, 0 5px);
        background-color: #ccc;
      }
    }
  }
}