<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 网址关键词 -->
  <meta name="keywords" content="招聘,找工作,求职,招聘网站,互联网招聘">
  <!-- 网址描述 -->
  <meta name="description" content="拉勾招聘是专业的互联网求职招聘网站，致力于提供真实可靠的互联网岗位求职招聘工作信息，拥有海量的互联网人才储备，互联网行业找工作就上拉勾招聘，值得信赖的求职招聘网站">
  <!-- name为renderer是告诉浏览器默认以哪种浏览器内核浏览当前网站 -->
  <meta name="renderer" content="webkit">
  <!-- 百度认证你个人网站，content是登录百度站长工具后台认证站点得到的代码 -->
  <meta name="baidu-site-verification" content="QIQ6KC1oZ6">
  <!-- 让网站加入QQ登录接口,可以让用户用qq账号登录，content是向腾讯申请接口拿到的代码 -->
  <meta property="qc:admins" content="23635710066417756375">
  <!-- 告知浏览器本页面属于什么类型设备的页面 -->
  <meta name="applicable-device" content="pc">
  <title>互联网求职招聘找工作-上拉勾招聘-专业的互联网求职招聘网站</title>
  <script>
    var deviceWidth = window.screen.width;
    (function () {
      if (deviceWidth < 1024) {
        window.location = "indexpm.html";
      }
    })()
  </script>
  <link rel="stylesheet" type="text/css" href="/static/css/common.css">
  <link rel="stylesheet" type="text/css" href="/static/css/headercs.css">
  <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
  <link rel="stylesheet" type="text/css" href="/static/css/searchcs.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bannercs.css">
  <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/contentcs.css">
  <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
  <script src="/static/js/swiper.min.js"> </script>
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body>

  <div class="box">
    <header class="header">
      <section class="header_nar clear">
        <div class="container">
          <div class="nar_left lf">
            <a href="index.html" class="lagou">拉勾</a>
            <a href="#" class="quanguo">全国站</a>
            <a href="#">[切换城市]</a>
            <nav class="nar_leftul clear">
              <a href="#" class="active">首页</a>
              <a href="#">公司</a>
              <a href="#">2020春招</a>
              <a href="#">言职</a>
              <a href="#">课程</a>
            </nav>
          </div>
          <div class="nar_right rf">
            <div class="nar_right_left lf">
              <a href="#">上传简历</a>
              <a href="#">职位订阅</a>
            </div>
            <div class="nar_right_center lf">
              <a href="#"><i class="iconfont icon-yonghu"></i>登录</a>
              <span>|</span>
              <a href="#">注册</a>
            </div>
            <div class="nar_right_right rf">
              <a href="#" class="iconfont icon-shouji">拉钩APP</a>
              <a href="login.html">进入企业版</a>
            </div>
          </div>
        </div>
      </section>
      <section class="header_description clear">
        <div class="container">
          <div class="description_left lf">
            <div class="imgbox"></div>
            <div class="textbox">907650家公司|7143050个职位，在拉勾等你</div>
          </div>
          <div class="description_right rf">
            <div class="right_login">
              <p class="iphone lf">
                <a href="#">0086&nbsp;&nbsp;&or;</a>
                <input type="text" placeholder="请输入手机号">
              </p>
              <p class="number lf">
                <input type="text" placeholder="验证码">
                <a href="#">|&nbsp;获取</a>
              </p>
              <input type="button" value="注册/登陆" class="loginbtn lf">
            </div>
          </div>
        </div>
      </section>
    </header>
    <section id="search" class="container-fluid">
      <div class="container">
        <div class="searchcontent">
          <div class="searchbtn">
            <input type="text" placeholder="搜索职位、公司或地点">
            <a href="#">搜索</a>
          </div>
          <div class="hotposition">
            <ul class="hotposi_ul">
              <li>热门搜索:</li>
              <li>测试开发</li>
              <li>自动化测试</li>
              <li>Java面试</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="banner container">
      <section class="banner_position lf">
        <ul class="banner_Text">
          <li>
            <a href="#">技术</a>
            <a href="#">Java</a>
            <a href="#">PHP</a>
            <a href="#">C++</a>
            <a href="#">区块链</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">产品</a>
            <a href="#">产品总监</a>
            <a href="#">产品经理</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">设计</a>
            <a href="#">UI设计师</a>
            <a href="#">交互设计</a>
            <a href="#">网页设计师</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">运营</a>
            <a href="#">新媒体运营</a>
            <a href="#">编辑</a>
            <a href="#">数据运营</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">市场</a>
            <a href="#">市场营销</a>
            <a href="#">市场推广</a>
            <a href="#">市场策划</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">销售</a>
            <a href="#">销售专员</a>
            <a href="#">销售经理</a>
            <a href="#">销售总监</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">职能</a>
            <a href="#">HR</a>
            <a href="#">行政</a>
            <a href="#">财务</a>
            <a href="#">审计</a>
            <a href="#">&gt;</a>
          </li>
          <li>
            <a href="#">游戏</a>
            <a href="#">小游戏开发</a>
            <a href="#">U3D</a>
            <a href="#">游戏策划</a>
            <a href="#">&gt;</a>
          </li>
        </ul>
      </section>
      <section class="swiper-container banner_img rf">
        <!--引用swiper插件实现轮播-->
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/static/images/1 (1).jpg" alt="Java工程师" /></div>
          <div class="swiper-slide"><img src="/static/images/1 (2).jpg" alt="大学生就业云招聘平台" /></div>
          <div class="swiper-slide"><img src="/static/images/1 (3).jpg" alt="东南亚领航电商平台" /></div>
          <div class="swiper-slide"><img src="/static/images/1 (4).jpg" alt="2020中国在线数据" /></div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination"></div>
        <!-- 前进后退按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </section>

    </section>
    <main class="content container">
      <div class="content_Top">
        <div class="top_link">
          <a href="#" class="active">24Hour热门</a>
          <a href="#">最新职位</a>
        </div>
        <div class="top_Text">
          <span class="ask">?</span>
          <span>过去24小时，最多人看过的岗位在这里</span>
          <a href="#">我知道了</a>
        </div>
      </div>
      <section class="content_Company container">
        <ul class="company_Ul">
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">Java开发工程师-数字银行</a>
              </h2>
              <span class="create_time">&ensp;[2020-05-27]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">20k-40k</span>
              <div class="require">
                <span>经验1-3年</span>
                <span>&frasl;&nbsp;&nbsp;不限</span>
                <span class="know">电商</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/shopee.png" alt="东南亚领航电商平台" /></a>
              <div class="company_info lf">
                <h3> <a href="">Shopee</a></h3>
                <span>电商&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">产品经理-海外App</a>
              </h2>
              <span class="create_time">&ensp;[10:25发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">15k-25k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;本科</span>
                <span class="know">电商</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/aftership.png" alt="成为行业的一流公司" /></a>
              <div class="company_info lf">
                <h3> <a href="">AfterShip</a></h3>
                <span>电商&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">Java开发工程师</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">13k-20k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;本科</span>
                <span class="know">电商</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/midea.jpg" alt="中国家具领导者" /></a>
              <div class="company_info lf">
                <h3> <a href="">美的</a></h3>
                <span>移动互联网&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">web前端开发工程师</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">10k-15k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;本科</span>
                <span class="know">react</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/kade.png" alt="浙江盘石信息技术股份有限公司" /></a>
              <div class="company_info lf">
                <h3> <a href="">卡德</a></h3>
                <span>企业服务&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">Unity（Lua）游戏开发</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">8k-14k</span>
              <div class="require">
                <span>经验不限</span>
                <span>&frasl;&nbsp;&nbsp;不限</span>
                <span class="know">游戏</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/fenghuo.jpg" alt="埃微信息，专注移动互联网健康生活" /></a>
              <div class="company_info lf">
                <h3> <a href="">烽火科技</a></h3>
                <span>游戏&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">Java后端主管</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">20k-25k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;本科</span>
                <span class="know">大数据</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/borui.png" alt="科技立足于服务营运商" /></a>
              <div class="company_info lf">
                <h3> <a href="">博锐科技</a></h3>
                <span>移动互联网&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">前端开发工程师</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">8k-15k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;大专</span>
                <span class="know">前端开发</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/zhihu.jpg" alt="我们不自夸是家伟大的公司" /></a>
              <div class="company_info lf">
                <h3> <a href="">知乎</a></h3>
                <span>企业服务&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">java工程师</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">8k-15k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;本科</span>
                <span class="know">java</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/zhongke.png" alt="中科" /></a>
              <div class="company_info lf">
                <h3> <a href="">中科</a></h3>
                <span>企业服务&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
          <li>
            <span class="direct_employ"></span>
            <div class="employ_Position clear">
              <h2>
                <a href="#">前端开发工程师</a>
              </h2>
              <span class="create_time">&ensp;[10:14发布]&ensp;</span>
              <div class="chat_me"></div>
              <span class="salary">8k-15k</span>
              <div class="require">
                <span>经验3-5年</span>
                <span>&frasl;&nbsp;&nbsp;大专</span>
                <span class="know">前端开发</span>
              </div>
            </div>
            <div class="employ_Company">
              <a href="#" class="company_icon"><img src="/static/images/aosi.jpg" alt="奥斯" /></a>
              <div class="company_info lf">
                <h3> <a href="">奥杰斯</a></h3>
                <span>企业服务&nbsp;&nbsp;&frasl;&nbsp;上市公司&nbsp;&frasl;&nbsp;深圳</span>
              </div>
            </div>
          </li>
        </ul>
        <button id="more_Btn1">查看更多</button>
      </section>
      <section class="content_Link">
        <div class="link_link">
          <a href="#" class="active">互联网热门公司榜</a>
        </div>
        <div class="link_Text">
          <span class="ask">?</span>
          <span>互联网行业实力热门企业</span>
          <a href="#">我知道了</a>
        </div>
        <ul class="link_Ul clear">
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/shopee.png" alt="shopee" /></a>
              <a href="">Shopee</a>
              <span class="company_Type">电商&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>东南亚领航电商平台</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>40</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>332</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>90%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/midea.jpg" alt="midea" /></a>
              <a href="">Midea</a>
              <span class="company_Type">家具&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>中国家具领导者</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>12</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>31</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>100%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/borui.png" alt="borui" /></a>
              <a href="">博锐科技</a>
              <span class="company_Type">企业服务，移动互联网&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>科技立足于服务营运商</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>168</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>80</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>100%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/aftership.png" alt="成为行业的一流公司" /></a>
              <a href="">AfterShip</a>
              <span class="company_Type">游戏&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>成为行业的一流公司</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>10</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>49</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>100%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/fenghuo.jpg" alt="fenghuo" /></a>
              <a href="">烽火科技</a>
              <span class="company_Type">移动互联网,医疗&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>埃微信息，专注移动互联网健康生活</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>13</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>9</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>27%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/kade.png" alt="kade" /></a>
              <a href="">卡德</a>
              <span class="company_Type">移动互联网,广告营销&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>浙江盘石信息技术股份有限公司</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>8</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>3</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>100%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/zhihu.jpg" alt="zhihu" /></a>
              <a href="">知乎</a>
              <span class="company_Type">社交&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>我们不自夸是家伟大的公司</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>86</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>11</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>100%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="company_Info">
              <a href=""><img src="/static/images/zhongke.png" alt="zhongke" /></a>
              <a href="">AfterShip</a>
              <span class="company_Type">金融&nbsp;&nbsp;&frasl;&nbsp;&nbsp;上市公司</span>
              <span>融360 于2011年10月</span>
            </div>
            <div class="employ_Evaluate">
              <ul>
                <li>
                  <span>7</span>
                  <span>面试评价</span>
                </li>
                <li>
                  <span>38</span>
                  <span>在招职位</span>
                </li>
                <li>
                  <span>100%</span>
                  <span>简历处理率</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <button id="more_Btn2">查看更多</button>
        <section class="other_Link">
          <dl id="dl_List">
            <dt>
              <a href="#" class="active">友情链接</a>
              <a href="#">热门城市</a>
              <a href="#">热门公司</a>
              <a href="#">热门职位</a>
              <a href="#">热门行业</a>
              <a href="#">热门关键词</a>
            </dt>
            <dd class="def_Link">
              <a href="#">找工作</a>
              <a href="#">招聘网</a>
              <a href="#">招聘</a>
              <a href="#">java课</a>
              <a href="#">架构课</a>
              <a href="#">国家公务员考试网</a>
              <a href="#">招聘网站</a>
              <a href="#">易企秀H5</a>
              <a href="#">字节跳动</a>
              <a href="#">学习资料库</a>
              <a href="#">5068儿童网</a>
              <a href="#">中大网校</a>
              <a href="#">人人都是产品经理</a>
              <a href="#">研究报告</a>
            </dd>
            <dd class="notdef_Link">
              <a href="#">中华考试网</a>
              <a href="#">教师网</a>
              <a href="#">杭州招聘</a>
              <a href="#">上海招聘</a>
              <a href="#">法律咨询</a>
              <a href="#">求职网站</a>
              <a href="#">语文学习网</a>
              <a href="#">职业圈</a>
              <a href="#">股城财经</a>
              <a href="#">创意服务外包</a>
              <a href="#">电子商务平台</a>
              <a href="#">兼职吧</a>
            </dd>
            <dd class="notdef_Link">
              <a href="#">爱问共享资料</a>
              <a href="#">招聘</a>
              <a href="#">品牌排行榜</a>
              <a href="#">未解之谜</a>
              <a href="#">生意经商业百科</a>
              <a href="#">装修效果图</a>
              <a href="#">中国公务员网校</a>
              <a href="#">招聘网</a>
              <a href="#">前瞻网</a>
              <a href="#">上海分类信息网</a>
              <a href="#">安徽招聘网</a>
              <a href="#">重庆人才网</a>
            </dd>
            <dd class="notdef_Link">
              <a href="#">中国会计网</a>
              <a href="#">齐鲁人才网</a>
              <a href="#">邮编生活网</a>
              <a href="#" class="more">更多</a>
            </dd>
            <span id="display_Btn">收起</span>
          </dl>
        </section>
      </section>
    </main>
    <footer class="footer">
      <section class="footer_Help container">
        <div class="help_Left lf">
          <div class="a_Btn">
            <a href=""><i class="iconfont icon-shouji"></i>下载拉勾APP</a>
          </div>
          <div class="a_Btn">
            <a href=""><i class="iconfont icon-xiaochengxu"></i>微信小程序</a>
          </div>
          <div>
            <a href=""><i class="iconfont icon-wechat"></i>拉勾微信</a>
            <a href=""><i class="iconfont icon-weibo"></i>拉勾微博</a>
          </div>
        </div>
        <dl class="lf">
          <dt><a href="#">企业服务</a></dt>
          <dd><a href="#">招聘抢人宝典</a></dd>
          <dd><a href="#">公司搜索</a></dd>
          <dd><a href="#">拉勾APP</a></dd>
        </dl>
        <dl class="lf">
          <dt><a href="#">用户帮助</a></dt>
          <dd><a href="#">用户服务协议</a></dd>
          <dd><a href="#">隐私政策</a></dd>
          <dd><a href="#">在线提问</a></dd>
        </dl>
        <dl class="lf">
          <dt><a href="#">联系方式</a></dt>
          <dd><a href="#">服务热线：4006282835(9:00-18:00)</a></dd>
          <dd><a href="#">企业服务邮箱：cc@lagou.com</a></dd>
          <dd><a href="#">联系我们</a></dd>
        </dl>
      </section>
      <section class="footer_Report container-fluid">
        <div class="container">
          <span class="lf">©2020&nbsp;拉勾网&nbsp;京ICP备14023790号-2</span>
          <a href="#" class="lf"><i class="lf"></i>京公网安备11010802024043号</a>
          <div class="contactInfo lf">
            <i class="lf"></i>
            <div class="lf">
              违法和不良信息举报<br />
              电话: 4006 2828 35<br />
              邮箱: cc@lagou.com
            </div>
          </div>
          <img src="/static/images/footericon.png" alt="拉勾icon" class="rf" />
        </div>
      </section>
    </footer>

  </div>
  <script>
    window.onload = () => {
      let btnSwitch = false;
      let disBtn = document.getElementById("display_Btn");
      let dlList = document.getElementById("dl_List");
      let notdefLink = dlList.getElementsByClassName("notdef_Link");
      disBtn.onclick = (ev) => {
        btnSwitch = !btnSwitch;
        if (btnSwitch) {
          disBtn.innerText = "展开";
          disBtn.style.marginTop = -17 + 'px';
          for (let i = 0; i < notdefLink.length; i++) {
            notdefLink[i].style.display = "none";
          }
        } else {
          disBtn.innerText = "收起";
          disBtn.style.marginTop = -99 + 'px';
          ev.preventDefault();
          for (let i = 0; i < notdefLink.length; i++) {
            notdefLink[i].style.display = "block";
          }
        }
      }

    }
    var mySwiper = new Swiper('.swiper-container', {
      direction: 'horizontal', // 垂直切换选项
      autoplay: { disableOnInteraction: false, },
      // 如果需要分页器
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      // 如果需要前进后退按钮
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    })
    for (i = 0; i < mySwiper.pagination.bullets.length; i++) {
      mySwiper.pagination.bullets[i].onmouseover = function () {
        this.click();
      };
    }    
  </script>
</body>

</html>